In [8]:
import pandas as pd

In [23]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [ ]:
df = pd.read_csv('../raw_data.csv')
df.head()

In [14]:
df.isnull().sum()

UPC             0
Title           0
Description     2
Price           0
Availability    0
Rating          0
Image           0
Product Link    0
dtype: int64

In [24]:
df[df['Description'].isnull()]

,UPC,Title,Description,Price,Availability,Rating,Image,Product Link
160,efc3768127714ec3,The Bridge to Consciousness: I'm Writing the Bridge Between Science and Our Old and New Beliefs.,NaN,£32.00,In stock (15 available),Three,https://books.toscrape.com/media/cache/39/c7/39c7bebcde5d9643ede71ac8ee87ee69.jpg,https://books.toscrape.com/catalogue/the-bridge-to-consciousness-im-writing-the-bridge-between-science-and-our-old-and-new-beliefs_840/index.html
995,cd2a2a70dd5d176d,Alice in Wonderland (Alice's Adventures in Wonderland #1),NaN,£55.53,In stock (1 available),One,https://books.toscrape.com/media/cache/99/df/99df494c230127c3d5ff53153d1f23a3.jpg,https://books.toscrape.com/catalogue/alice-in-wonderland-alices-adventures-in-wonderland-1_5/index.html

In [28]:
df.loc[df["UPC"] == "cd2a2a70dd5d176d", "Description"] = (
    "Alice's Adventures in Wonderland is a novel written by English author Charles Lutwidge Dodgson, "
    "better known under the pseudonym Lewis Carroll. It tells the story of a girl named Alice who falls down "
    "a rabbit-hole into a fantasy world populated by peculiar and anthropomorphic creatures. The tale is filled "
    "with allusions to Dodgson's friends (and enemies), and to the lessons that British schoolchildren were expected "
    "to memorize. The tale plays with logic in ways that have made the story of lasting popularity with adults as well "
    "as children. It is considered to be one of the most characteristic examples of the genre of literary nonsense, and "
    "its narrative course and structure have been enormously influential, mainly in the fantasy genre."
)

df.loc[df["UPC"] == "efc3768127714ec3", "Description"] = (
    "This book is written to bridge the gap between science and our old and new beliefs. It is a 12-step bridge that "
    "covers topics such as the science of numbers, energy attraction, and how thoughts create our reality. It explores "
    "concepts like the illusion of time, the power of the present moment, and the manifestation of thought. The book aims "
    "to awaken consciousness and guide readers toward realizing a deeper intelligence beyond thought. Each step on the bridge "
    "holds infinite truths and opens the door to awakening and powerful personal transformation."
)

In [29]:
df.isnull().sum()

UPC             0
Title           0
Description     0
Price           0
Availability    0
Rating          0
Image           0
Product Link    0
dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   UPC           1000 non-null   object
 1   Title         1000 non-null   object
 2   Description   998 non-null    object
 3   Price         1000 non-null   object
 4   Availability  1000 non-null   object
 5   Rating        1000 non-null   object
 6   Image         1000 non-null   object
 7   Product Link  1000 non-null   object
dtypes: object(8)
memory usage: 62.6+ KB

In [31]:
df.head(1)

,UPC,Title,Description,Price,Availability,Rating,Image,Product Link
0,a897fe39b1053632,A Light in the Attic,"It's hard to imagine a world without A Light in the Attic. This now-classic collection of poetry and drawings from Shel Silverstein celebrates its 20th anniversary with this special edition. Silverstein's humorous and creative verse can amuse the dowdiest of readers. Lemon-faced adults and fidgety kids sit still and read these rhythmic words and laugh and smile and love th It's hard to imagine a world without A Light in the Attic. This now-classic collection of poetry and drawings from Shel Silverstein celebrates its 20th anniversary with this special edition. Silverstein's humorous and creative verse can amuse the dowdiest of readers. Lemon-faced adults and fidgety kids sit still and read these rhythmic words and laugh and smile and love that Silverstein. Need proof of his genius? RockabyeRockabye baby, in the treetopDon't you know a treetopIs no safe place to rock?And who put you up there,And your cradle, too?Baby, I think someone down here'sGot it in for you. Shel, you never sounded so good. ...more",£51.77,In stock (22 available),Three,https://books.toscrape.com/media/cache/fe/72/fe72f0532301ec28892ae79a629a293c.jpg,https://books.toscrape.com/catalogue/a-light-in-the-attic_1000/index.html

In [32]:
df["Price"] = df['Price'].str.replace('£', "", regex=False).astype(float)
df['Price'].head()

0    51.77
1    53.74
2    50.10
3    47.82
4    54.23
Name: Price, dtype: float64

In [33]:
df['Availability'].head()

0    In stock (22 available)
1    In stock (20 available)
2    In stock (20 available)
3    In stock (20 available)
4    In stock (20 available)
Name: Availability, dtype: object

In [34]:
df['Availability'].unique()

array(['In stock (22 available)', 'In stock (20 available)',
       'In stock (19 available)', 'In stock (18 available)',
       'In stock (17 available)', 'In stock (16 available)',
       'In stock (15 available)', 'In stock (14 available)',
       'In stock (13 available)', 'In stock (12 available)',
       'In stock (11 available)', 'In stock (10 available)',
       'In stock (9 available)', 'In stock (8 available)',
       'In stock (7 available)', 'In stock (6 available)',
       'In stock (5 available)', 'In stock (4 available)',
       'In stock (3 available)', 'In stock (2 available)',
       'In stock (1 available)'], dtype=object)

In [36]:
df["Availability"] = df["Availability"].str.extract(r'\((\d+)\savailable\)').astype(int)

df['Availability'].head()

0    22
1    20
2    20
3    20
4    20
Name: Availability, dtype: int64

In [37]:
df['Rating'].unique()

array(['Three', 'One', 'Four', 'Five', 'Two'], dtype=object)

In [38]:
word_to_num = {
    "One" : 1,
    "Two" : 2,
    "Three" : 3,
    "Four" : 4, 
    "Five" : 5
}

df["Rating"] = df["Rating"].map(word_to_num)

In [39]:
df["Rating"].unique()

array([3, 1, 4, 5, 2])

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   UPC           1000 non-null   object
 1   Title         1000 non-null   object
 2   Description   1000 non-null   object
 3   Price         1000 non-null   float64
 4   Availability  1000 non-null   int64
 5   Rating        1000 non-null   int64
 6   Image         1000 non-null   object
 7   Product Link  1000 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 62.6+ KB

In [41]:
df.head(2)

,UPC,Title,Description,Price,Availability,Rating,Image,Product Link
0,a897fe39b1053632,A Light in the Attic,"It's hard to imagine a world without A Light in the Attic. This now-classic collection of poetry and drawings from Shel Silverstein celebrates its 20th anniversary with this special edition. Silverstein's humorous and creative verse can amuse the dowdiest of readers. Lemon-faced adults and fidgety kids sit still and read these rhythmic words and laugh and smile and love th It's hard to imagine a world without A Light in the Attic. This now-classic collection of poetry and drawings from Shel Silverstein celebrates its 20th anniversary with this special edition. Silverstein's humorous and creative verse can amuse the dowdiest of readers. Lemon-faced adults and fidgety kids sit still and read these rhythmic words and laugh and smile and love that Silverstein. Need proof of his genius? RockabyeRockabye baby, in the treetopDon't you know a treetopIs no safe place to rock?And who put you up there,And your cradle, too?Baby, I think someone down here'sGot it in for you. Shel, you never sounded so good. ...more",51.77,22,3,https://books.toscrape.com/media/cache/fe/72/fe72f0532301ec28892ae79a629a293c.jpg,https://books.toscrape.com/catalogue/a-light-in-the-attic_1000/index.html
1,90fa61229261140a,Tipping the Velvet,"""Erotic and absorbing...Written with starling power.""--""The New York Times Book Review "" Nan King, an oyster girl, is captivated by the music hall phenomenon Kitty Butler, a male impersonator extraordinaire treading the boards in Canterbury. Through a friend at the box office, Nan manages to visit all her shows and finally meet her heroine. Soon after, she becomes Kitty's ""Erotic and absorbing...Written with starling power.""--""The New York Times Book Review "" Nan King, an oyster girl, is captivated by the music hall phenomenon Kitty Butler, a male impersonator extraordinaire treading the boards in Canterbury. Through a friend at the box office, Nan manages to visit all her shows and finally meet her heroine. Soon after, she becomes Kitty's dresser and the two head for the bright lights of Leicester Square where they begin a glittering career as music-hall stars in an all-singing and dancing double act. At the same time, behind closed doors, they admit their attraction to each other and their affair begins. ...more",53.74,20,1,https://books.toscrape.com/media/cache/08/e9/08e94f3731d7d6b760dfbfbc02ca5c62.jpg,https://books.toscrape.com/catalogue/tipping-the-velvet_999/index.html

In [42]:
df.to_csv("clean_data.csv", header=True, index=False)